#content {
    width: 80%;
    margin: auto;
    background-color: #f7f9f9
}

#board{
    width: 600px;
    height: 600px;
    background-color: lightgray;
}

#board-container {
    text-align: center;
    margin: auto;
}

#header {
    padding: 40px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 36pt;
}